form{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;
}

input{
    height: 50px;
    width: 250px;
    margin: 10px;
    border: none;
    background-color: lightblue;
}
input:focus{
    outline: none;
}