nav{
    height: 60px;
    width: 100%;
    background-color:#3ba4ce;
    position: fixed;
    z-index: 999;
    .nav_icon{
        margin: 15px;
        border: 1px solid white;
        width: fit-content;
        padding: 2px 10px 0px 10px;
        border-radius: 5px;
    }
}

main{
    margin: 0;
     
}